* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


.cursor {
	
	.cursor--small,
	.cursor--large,
	.cursor--text {
		position: fixed;
		z-index: 90;
		left: 0;
		top: 0;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		width: var(--cursor-size);
		height: var(--cursor-size);
		mix-blend-mode: difference;
		pointer-events: none;
		user-select: none;
	}

	.cursor--text {
		--cursor-size: fit-content;
		font-size: 0.75rem;
		color: #fff;
		opacity: 0;
		.text {
			font-family: sans-serif;
			font-weight: bold;
		}
	}

	.cursor--small {
		--cursor-size: 30px;
		background: white;

		// border: 2px solid #fff;
	}

	.cursor--large {
		--cursor-size: 70px;
		border: 2px solid #fff;
	}
}



.support {
	position: fixed;
	right: 10px;
	bottom: 10px;
	padding: 5px;
	display: flex;
	background: white;
	a {
		margin: 0 8px;
		color: #fff;
		font-size: 1.8rem;
		// backface-visibility: hidden;
		// transition: all 150ms ease;
		mix-blend-mode: difference;
		&:hover {
			transform: scale(1.1);
		}
	}
}
