
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto+Mono:wght@700&display=swap');  */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Noto+Sans&family=Open+Sans:ital,wght@1,800&family=Roboto+Mono:wght@700&family=Source+Serif+Pro:ital,wght@1,300;1,400;1,600&display=swap');
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: white;
	scroll-behavior: smooth;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
	opacity: 0.5;
  }

  *::-webkit-scrollbar-track {
    background: #000;
  }

  *::-webkit-scrollbar-thumb {
	background: white;
	box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
	border-radius: 100px;
 
  }

  .changingGradient {
    background: linear-gradient(315deg, #0ed2f7, #fdba66, #fd6d71, #998ee0, #43add0, #e17dc2);
    background-size: 1200% 1200%;

    -webkit-animation: gradientChange 14s ease infinite;
    -moz-animation: gradientChange 14s ease infinite;
    -o-animation: gradientChange 14s ease infinite;
    animation: gradientChange 14s ease infinite;
}

@-webkit-keyframes gradientChange {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}
@-moz-keyframes gradientChange {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}
@-o-keyframes gradientChange {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}
@keyframes gradientChange {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}

.cursor {
	position: fixed;
	left: 0;
	top: 0;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	mix-blend-mode: difference;
	background-color: white;
	z-index: 99;
	pointer-events: none;
  }


.parallax {
	overflow: hidden;
	letter-spacing: -2px;
	line-height: 0.8;
	margin: 0;
	white-space: nowrap;
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 10px;
}


.parallax .scroller {
	font-family: 'Roboto Mono', monospace;
	/* font-family: 'VT323', monospace; */
	letter-spacing: 5px;
	font-style: italic;
	font-weight: 700;
	font-size: 40px;
	line-height: 110%;
	text-transform: uppercase;
	display: flex;
	white-space: nowrap;
	display: flex;
	flex-wrap: nowrap;
}

.parallax span {
	display: block;
	margin-right: 30px;
	color: white;
	
	/* margin:10; */
}